.tableWrapper {
  margin-top: 40px;
  width: 100%;
}

.tableWrapper > table {
  width: 100%;
  padding-left: 60px;
}

.tableWrapper > table > thead > tr > th {
  text-align: left;
  height: 22px;
  line-height: 22px;
  cursor: pointer;
}

.tableWrapper > table > tbody > tr > td {
  padding: 10px 0 10px 0;
  border-top: #efe1f0 solid 1px;
}

.sortingIcon {
  height: 20px;
  margin-left: 10px;
  padding-top: 5px;
}
