@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat'), url(../../assets/fonts/Montserrat/Montserrat-Medium.ttf) format('truetype');
}

html, body {
  font-family: Montserrat;
  width: 100%;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  height: 100%;
}

:root {
  --active-pink: #aa637d;
  --pink: #cf698e;
}

#root {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}