.dashboardCards {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.dashboardWrapper > h1 {
  font-size: 22px;
  margin: 20px;
}

.dashboardWrapper {
  max-width: 1300px;
  margin: 20px auto 20px auto;
}

.dividendGraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

label {
  margin-top: 50px;
  padding-left: 60px;
}

select {
  margin-left: 5px;
}
